.environment {
  flex: 1;
  height: calc(100% - 4rem);
  border-top: 1px solid var(--border-color);
  display: flex;
  flex-direction: row;
}

.environment.verticaly {
  flex-direction: column;
}

.editor-wrapper {
  width: 50%;
  position: relative;
}

.editor-wrapper .editor {
  overflow-x: hidden;
}

.editor-wrapper .handle {
  position: absolute;
  top: 0;
  bottom: 0;
  right: -0.25rem;
  width: 0.5rem;
  z-index: 1;
  background: transparent;
  cursor: ew-resize;
}

.editor-wrapper .handle.verticaly {
  left: 0;
  width: 100%;
  top: calc(100% - 0.25rem);
  height: 0.5rem;
  cursor: ns-resize;
}

.editor-wrapper .handle:active {
  background: var(--border-color);
}

.terminal-wrapper {
  display: flex;
  flex: 1;
}
