button {
  outline: 0;
  border: 0;
  font-size: 1.4rem;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  background: var(--primary-color);
  transition: all 200ms ease;
}

button[disabled] {
  cursor: initial;
  opacity: 0.4;
}

button:active,
button[data-loading] {
  opacity: 0.6;
}

button[data-loading] {
  pointer-events: none;
}
