.input-container {
  height: 100%;
  white-space: pre-line;
  border-right: 1px solid var(--border-color);
}

.input-container {
  position: relative;
  padding: 0.5rem 0.5rem 0.5rem 1rem;
}

.input-container .lines-bar {
  position: absolute;
  line-height: 22px;
  font-size: 16px;
  font: larger -moz-fixed;
  font: -webkit-medium-control;
  text-align: center;

  padding-top: 0.2rem;
  color: var(--border-color);
  z-index: 1;
  left: 0;
  top: 0;
  bottom: 0;
  width: 2rem;
  overflow-y: auto;
}

.input-container .lines-bar::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.input-background {
  -webkit-appearance: textarea;
  -moz-appearance: textarea;

  font-size: 16px;
  font: larger -moz-fixed;
  font: -webkit-medium-control;

  overflow-y: auto;
  position: absolute;
  word-break: break-all;
  white-space: pre-wrap;

  padding-left: 0.5rem;

  top: 0;
  bottom: 0;
  left: 2rem;
  right: 0;
  background: var(--bg-secondary-color);
  color: #6a9955;
  user-select: none;
}

.input {
  position: absolute;

  font-size: 16px;
  font: larger -moz-fixed;
  font: -webkit-medium-control;

  padding-left: 0.5rem;

  top: 0;
  bottom: 0;
  left: 2rem;
  right: 0;
  border: unset;
  resize: none;
  color: transparent;
  caret-color: #fff;
  background: transparent;
}

.input:focus {
  outline: 0;
}

.token.declaration {
  color: #2666cb;
}

.token.statement {
  color: #c586c0;
}

.token.braces {
  color: #dbd70a;
}

.token.parens {
  color: #dbd70a;
}

.token.identifier {
  color: #4fc1ff;
}

.token.logic_operator {
  color: #d4d4d4;
}

.token.bool {
  color: #509cce;
}

.token.nil {
  color: #509cce;
}

.token.number {
  color: #b5cea8;
}

.token.string {
  color: #ce9178;
}

.token[data-error] {
  position: relative;
  text-decoration: red underline wavy;
}

.token[data-error]::after {
  display: block;
  position: absolute;
  content: attr(data-error);
  background: var(--bg-color);
  left: 0;
  width: max-content;
  color: var(--text-color);
  border: 1px solid var(--border-color);
  border-radius: 2px;
  font-size: 14px;
  padding: 3px 3px;
}
