:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --text-color: #fafafa;
  --bg-color: #181818;
  --bg-secondary-color: #1f1f1f;
  --border-color: #636363;
  --primary-color: #4a1373;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: var(--text-color);
}

body,
#root {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background: var(--border-color);
  border-radius: 0.5rem;
}
